<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wind.androidplay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="debug.App"
        android:allowBackup="true"
        android:icon="@mipmap/play_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/play_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/play_AppTheme">
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/app_name">
            android:name=".ui.activity.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wind.androidplay.ui.activity.PlayWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wind.androidplay.ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wind.androidplay.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>